---
import VueJS from "./icons/VueJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Laravel from "./icons/Laravel.astro";
import Stripe from "./icons/Stripe.astro";
import Lang from "./icons/Lang.astro";
import Php from "./icons/Php.astro";
import About from "./About.astro";
import MySQL from "./icons/MySQL.astro";

const TAGS = {
  VUEJS: {
    name: "Vue.js",
    class: "bg-black text-white",
    icon: VueJS,
  },
  ASTROJS: {
    name: " Astro JS",
    class: "bg-black text-white",
    icon: About,
  },

  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-black text-white",
    icon: Tailwind,
  },

  LARAVEL: {
    name: "Laravel ",
    class: "bg-black text-white",
    icon: Laravel,
  },

  STRIPE: {
    name: "Stripe",
    class: "bg-black text-white",
    icon: Stripe,
  },

  LANG: {
    name: "Lang",
    class: "bg-black text-white",
    icon: Lang,
  },

  MYSQL: {
    name: "MySql",
    class: "bg-black text-white",
    icon: MySQL,
  },

  PHP: {
    name: "Php",
    class: "bg-black text-white",
    icon: Php,
  },
};
const PROJECTS = [
  {
    title: "iqboost | Test IQ",
    description: "Sistema de evaluacion test IQ ",
    link: "https://iqboost.mobi/",
    github: "#",
    image: "/projects/iqboost.webp",
    tags: [TAGS.VUEJS, TAGS.TAILWIND,TAGS.STRIPE,TAGS.LANG],
  },

  {
    title: "vControl | Active Directory",
    description:
      "Sistema de administracion de accesos generales para el active directory",
    link: "#",
    github: "https://github.com/wilfredofermin/bscontrol",
    image: "/projects/vcontrol.webp",
    tags: [TAGS.VUEJS, TAGS.TAILWIND, TAGS.LARAVEL, TAGS.PHP,TAGS.MYSQL],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="mb-6 p-4">
      <a
        href={link}
        target="_blank"
        class="text-2xl font-semibold mb-2"
      >
        {title}
      </a>
      <p class="text-lg mb-4 text-pretty text-white">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}

